/* custom css rules */

body {
	font-family: 'Raleway', sans-serif;
	/*background-color: black;*/
}


h1 {
}

.chordToolTipInfo {
	margin: 0;
}

.bubbleToolTipInfo {
	margin: 0;
}

#bubble-select {
	width: 11%;
	margin-top: 20px;
	margin-bottom: 0;
	margin-left: 850px;
}

text {
	fill: white;
}

.slide {
	background-color: black;
	height: 100vh;
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	text-align: center;
}

#button-container {
	position: fixed;
}

#down {
	position: absolute;
}


#hist-title {
	font-weight: bold;
	color: white;
	font-size: 30px;
	margin-left: 20px;
	align-self: center;
}
#yearRange {
	width: 80%; /* Adjust the width as needed */
	margin: 10px 0; /* Add margin for spacing */
	appearance: none; /* Remove default appearance */
	background: #d3d3d3; /* Set the background color */
	height: 10px; /* Set the height */
	border-radius: 5px; /* Add rounded corners */
}

#yearRange::-webkit-slider-thumb {
	appearance: none; /* Remove default appearance */
	width: 20px; /* Set the width of the thumb */
	height: 20px; /* Set the height of the thumb */
	background: #4CAF50; /* Set the color of the thumb */
	border-radius: 50%; /* Make it a circle */
	cursor: pointer; /* Add a pointer cursor */
}
.slider-label {
	position: absolute;
	padding: 5px; /* Add padding for space around the text */
	background-color: darkseagreen; /* Set the background color of the label */
	border: 1px solid darkgreen; /* Add a border to the label */
	border-radius: 5px;


}

#sliderContainer {
	padding-top: 30px;
}
#minLabel {
	left: 808px; /* Adjust the left value as needed */
}

#summaryStats {
	/*position: absolute;*/
	padding: 10px;
	border: 3px solid #C5D86D;;
	border-radius: 10px;
	width: 350px;
	height: 300px;
	background-color: #F46036;
}

#sumtitle {
	color: #C5D86D;
}

.sumlines {
	color: #C5D86D;
}

#hist-container{
	/*padding: 10px;*/
	/*border: 2px solid darkgreen;;*/
	/*border-radius: 5px;*/
	/*background-color: whitesmoke;*/
}

/* CloserLookVis */
#songs-list {
	width: 350px;
	max-height: 450px;
	overflow: scroll;
}

#info-box {
	text-align: center;
	align-items: center;
	justify-content: center;
}

#closer-look-title {
	font-weight: bold;
	color: white;
	font-size: 30px;
	margin-left: 20px;
}

#album-title {
	color: white;
	margin-bottom: 30px;
}