/* custom css rules */

body {
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
	font-family: Tahoma;
	/*background-color: black;*/
}


h1 {
}

button {
	background-color: #171738;
	border-radius: 10px;
	border: 5px solid #FFD9CE;
	color:#FFD9CE;
}

.selector {
	display: grid;
	grid-template-columns: 300px 200px;
	align-items: center;
	height: auto;
	color: #FFD9CE !important;
	width: auto;
	transform: translate(32vw, 50px);
}


select {
	display: grid;
	background-color: #171738;
	color: #FFD9CE;
	height: 40px;
	border: #FFD9CE 3px solid;
	border-radius: 3px;
}

.next {
	position: absolute;
	width: auto;
	height: 40px;
	/*margin-top: 130px;*/
	transform: translate(4vw, 91vh);
}

.prev {
	position: absolute;
	width: 100px;
	height: 40px;
	/*margin-top: 130px;*/
	transform: translate(-4vw, 91vh);
}

.next-message {
	position: absolute;
	width: 70px;
	height: 40px;
	/*margin-top: 130px;*/
	transform: translate(4vw, 43vh);
}

.prev-message {
	position: absolute;
	width: 100px;
	height: 40px;
	/*margin-top: 130px;*/
	transform: translate(-4vw, 43vh);
}

.intro {
	color: #FFD9CE;
	margin-top: 50px;
}

.intro-container {
	max-width: 700px;
	margin-top: 100px;

}

.intro-slide {
	background-image: url('../Images/background.png');
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}

.chordToolTipInfo {
	margin: 0;
}

.bubbleToolTipInfo {
	margin: 0;
}

#bubble-select {
	width: 11%;
	margin-top: 20px;
	margin-bottom: 0;
	margin-left: 850px;
}

text {
	fill: white;
}

.slide {
	background-color: #171738;
	height: 100vh;
	width: auto;
	/*display: flex;*/
	justify-content: center;
	/*align-items: center;*/
	text-align: center;
}

#button-container {
	position: fixed;
}

#down {
	position: absolute;
}


#hist-title {
	margin-top: 60px;
	margin-bottom: 30px;
	font-family: Tahoma;
	/*font-weight: bold;*/
	color: white;
	font-size: 30px;
	margin-left: 20px;
	align-self: center;
}
#yearRange {
	width: 70%; /* Adjust the width as needed */
	 /* Add margin for spacing */
	margin-right: 100px ;
	appearance: none; /* Remove default appearance */
	background: #d3d3d3; /* Set the background color */
	height: 10px; /* Set the height */
	border-radius: 5px; /* Add rounded corners */
}

#yearRange::-webkit-slider-thumb {
	appearance: none; /* Remove default appearance */
	width: 20px; /* Set the width of the thumb */
	height: 20px; /* Set the height of the thumb */
	background: #C5D86D; /* Set the color of the thumb */
	border-radius: 50%; /* Make it a circle */
	cursor: pointer; /* Add a pointer cursor */
}
.slider-label {
	position: absolute;
	padding: 5px; /* Add padding for space around the text */
	background-color: #C5D86D; /* Set the background color of the label */
	border: 1px solid darkgreen; /* Add a border to the label */
	border-radius: 5px;


}

#sliderContainer {
	padding-top: 30px;
}
#minLabel {
	left: 950px; /* Adjust the left value as needed */
}
#maxLabel {
	right: 90px;
}

#summaryStats {
	/*position: absolute;*/
	padding: 10px;
	border: 3px solid #FFD9CE;;
	/*border-radius: 10px;*/
	width: 350px;
	height: 300px;
	background-color: #FFD9CE;
}

#inter-container{
	padding-bottom: 200px;
}

#sumtitle {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #593C8F;
}

.sumlines {
	color: #593C8F;
}

#hist-container{
	/*padding: 10px;*/
	/*border: 2px solid darkgreen;;*/
	/*border-radius: 5px;*/
	/*background-color: whitesmoke;*/
}

/*#message-container{*/
/*	color: white;*/
/*	font-size: 20px;*/
/*	height: 300px;*/

/*}*/

#message-title{
	font-weight: bold;
	font-size: 30px;
}

#message-container {
	padding-top: 50px;
	color: white;
	--border-size: 3px;
	--border-angle: 0turn;
	height: 50vmin;
	background-image: conic-gradient(
			from var(--border-angle),
			#112,
			#112 50%,
			#112
	),
	conic-gradient(from var(--border-angle), transparent 20%, #F46036, #C5D86D);
	background-size: calc(100% - (var(--border-size) * 2))
	calc(100% - (var(--border-size) * 2)),
	cover;
	background-position: center center;
	background-repeat: no-repeat;

	animation: bg-spin 3s linear infinite;
	@keyframes bg-spin {
		to {
			--border-angle: 1turn;
		}
	}

	&:hover {
		animation-play-state: paused;
	}
}

@property --border-angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0turn;
}

/* CloserLookVis */
#songs-list {
	width: 350px;
	max-height: 450px;
	overflow: scroll;
}

#info-box {
	text-align: center;
	align-items: center;
	justify-content: center;
	color: white;
}

#info {
	/*box-shadow: 0 4px 8px 0 #2E294E, 0 6px 20px 0 #2E294E;*/
	/*background-color: #8EF9F3;*/
	width: 500px;
	padding: 20px;
	margin-left: 15px;
	margin-top: 35px;
}

#closer-look-title {
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
	font-size: 30px;
	margin-left: 20px;
}

#album-title {
	color: white;
	margin-bottom: 24px;
}

.album-info {
	color: white;
	margin-bottom: 30px;
}
